* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.calculator {
    background-color: lightgray;
    height: min-content;
    width: min-content;
}

.display {
    color: blue;
    background-color: black;
    height: 80px;
    width: 320px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 320px;
}

button {
    height: 75px;
    width: 75px;
}