* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: lightgray;
    border: solid 2px silver;
    border-radius: 15px;
    padding: 10px;
}

.display {
    height: 75px;
    font-size: 60px;
    color: lightblue;
    background-color: black;
    border: solid 5px gray;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.keyboard,
.actions,
.numbers,
.operators {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}

.keyboard {
    width: calc(75px * 4 + 10px * 3);
    height: calc(75px * 5 + 10px * 4);

    flex-direction: column;
}

.numbers {
    width: calc(75px * 3 + 10px * 2);;
}

.operators {
    width: 75px;
}

button {
    height: 75px;
    width: 75px;
    border: solid 1px gray;
    border-radius: 37.5px;
}

.equal > button {
    background-color: orange;
}

#zero {
    width: 160px;
}